<div>
    <ul id="menu">
        <li>
            <a [routerLink]="['/']">Primer component</a>
        </li>
        <li>
            <a [routerLink]="['/hooks']">Hooks angular</a>
        </li>
        <li>
            <a [routerLink]="['/deportes']">Deportes</a>
        </li>
        <li>
            <a [routerLink]="['/deportesv2']">Deportes v2</a>
        </li>
        <li>
            <a [routerLink]="['/formbinding']">Form binding</a>
        </li>
        <li>
            <a [routerLink]="['/sumarnumeros']">Sumar números</a>
        </li>
        <li>
            <a [routerLink]="['/tablamultiplicar']">Tabla multiplicar</a>
        </li>
        <li>
            <a [routerLink]="['/collatz']">Collatz</a>
        </li>
    </ul>
</div>